.hero {
  background-image: url('https://source.unsplash.com/featured/?penang');
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.hero-container {
  color: white;
  padding-left: 20px;
  width: 55%
}

.hero-title {
  text-shadow: 0px 2px 2px rgba(150, 150, 150, 0.9);
}

.hero-description {
  color: rgb(255, 255, 255);
  opacity: 0.8;
  text-shadow: 0px 1px 1px rgba(150, 150, 150, 0.8);
  font-size: 20px;
}

.hero-link {
  display: inline-block;
  color: black;
  font-weight: bold;
  background: linear-gradient(to right, black 50%, goldenrod 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  padding: 15px 25px;
  border-radius: 4px;
  transition: all .2s ease-out;
}

.hero-link:hover {
  color: goldenrod;
  background-position: left bottom;
}